.back__btn {
    margin-top: 2rem;
    a {
        color: #a9a9a9;
        font-size: 1rem;
    }
}

.container__blog {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
